# Maven
target/
*.class

# Distribution and Packages
notething/dist/
notething/target/
*.zip

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Temporary files
*.log
*.tmp
Cargo.lock

# Project plan
plan/

# Security
.env
serviceAccountKey.json
notething/src/main/resources/org/config.properties