# Maven
target/
*.class

# Distribution and Packages
notething/dist/
notething/target/
notething/scripts/
*.zip

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Temporary files
*.log
*.tmp
